<template>
  <div class="for">
    <span>For</span>
    <select @change="scroll" v-model="numberOfNights">
      <option
        :key="item"
        v-for="item in nights"
        :selected="numberOfNights == item"
        >{{ item }}</option
      >
    </select>
    <span>{{ numberOfNights == 1 ? "Night" : "Nights" }}</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nights: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20]
    };
  },
  methods: {
    scroll(){
      window.scrollTo(0,0)
    }
  },
  computed: {
    numberOfNights: {
      get() {
        return this.$store.state.hotel.numberOfNights;
      },
      set(value) {
        this.$store.commit("hotel/updateNumberOfNights", value);
      }
    }
  }
};
</script>
