<template>
  <div v-if="comment && comment.review" class="row comment">
      <div class="col-1">
          {{comment.score}}
      </div>
      <div class="col-11 text-left">
          {{comment.review}}
      </div>
  </div>
</template>

<script>
export default {
  props: {
    comment: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
