<template>
  <div class="comments">
    <div class="review">
      <p class="name">Reviews</p>
      <div class="sort">
        <div @click="sortHandler('descending')" class="arrow up"></div>
        <div @click="sortHandler('ascending')" class="arrow down"></div>
      </div>
    </div>
    <div class="wrapper" :class="addWiggle ? 'wiggle' : ''">
      <Comment
        :key="index"
        :comment="item"
        v-for="(item, index) in items"
      ></Comment>
    </div>
    <Pagination :pages="pages"></Pagination>
  </div>
</template>

<script>
import Comment from "@/components/Comment";
import Pagination from "@/components/Pagination";
import { mapState } from "vuex";
import { wiggle } from "~/mixins/wiggle";
import { sort } from "~/mixins/sort"

export default {
  mixins: [wiggle, sort],
  data() {
    return {
      items: []
    };
  },
  computed: {
    ...mapState({
      pages: state => state.hotel.pages
    })
  },
  methods: {
    sortHandler(type) {
      let reviews = this.sort(type, this.details.reviews);
      let newDetails = { ...this.details, reviews };
      this.$store.commit("hotel/updateDetails", newDetails);
      this.$store.commit("hotel/updateRange", { from: 0, to: 3 });
      this.$store.commit("hotel/changePage", 1);
      this.wiggle();
    }
  },
  components: {
    Comment,
    Pagination
  },
  props: {
    details: {
      type: Object,
      default: () => {}
    },
    range: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    details: {
      immediate: true,
      handler(newValue) {
        if (newValue && newValue.reviews) {
          this.$store.commit("hotel/setReviews", newValue.reviews);
          this.$store.commit(
            "hotel/setPages",
            Math.floor((newValue.reviews.length + 3 - 1) / 3)
          );
        }
      }
    },
    range: {
      immediate: true,
      handler(newValue) {
        if (this.details && this.details.reviews) {
          this.items = this.details.reviews.slice(newValue.from, newValue.to);
          this.$forceUpdate();
        }
      }
    }
  }
};
</script>
