<template>
  <div class="gallery e-center">
    <img  class="main-picture" :src="url" alt="" />
    <div class="scroll">
      <img
        @click="updateUrl(picture.photo)"
        :key="picture.photo"
        v-for="picture in pictures"
        class="tiny"
        :class="url == picture.photo ? 'tiny-selected' : ''"
        :src="picture.photo"
        alt=""
      />
    </div>
  </div>
</template>

<script>
export default {
  watch: {
    pictures: {
      immediate: true,
      handler(newValue) {
        if (newValue && newValue.length) this.url = newValue[0].photo;
      }
    },
  },
  methods: {
    updateUrl(url){
        this.url = url;
    }
  },
  data() {
    return {
      url: null,
    };
  },
  props: {
    pictures: {
      type: Array,
      default: () => []
    }
  }
};
</script>
