<template>
  <transition name="fade">
    <div class="details" v-if="details && details.id">
      <p class="name title">{{ details.name }}</p>
      <ChangeNumber></ChangeNumber>
      <Gallery :pictures="details.pictures"></Gallery>
      <Comments :details="details" :range="range"></Comments>
    </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";
import ChangeNumber from "@/components/ChangeNumber";
import Gallery from "@/components/Gallery";
import Comments from "@/components/Comments";
import { http } from "~/mixins/http";

export default {
  mixins: [http],
  components: {
    ChangeNumber,
    Gallery,
    Comments
  },
  watch: {
    idToShow: {
      immediate: true,
      handler() {
        if (this.idToShow) this.fetchDetails(this.idToShow);
      }
    }
  },
  computed: {
    ...mapState({
      idToShow: state => state.hotel.idToShow,
      details: state => state.hotel.details,
      reviews: state => state.hotel.reviews,
      range: state => state.hotel.range
    })
  },
  methods: {
    async fetchDetails(id) {
      debugger;
      try {
        const res = await this.services().hotels.getDetails(id);
        if (res.data) {
          this.$store.commit("hotel/updateDetails", res.data);
        }
      } catch (error) {}
    }
  }
};
</script>

<style></style>
