<template>
  <div
    v-if="hotel && hotel.id"
    class="hotel-card"
    :class="addWiggle ? 'wiggle' : ''"
  >
    <p class="name" @click="goToDetails(hotel)">{{ hotel.name }}</p>
    <div class="hotel-data">
      <div class="card-photo">
        <img :src="hotel.photo" alt="" />
      </div>
      <div class="data">
        <p>
          <span>$</span>{{ hotel.pricePerNight * numberOfNights }} For
          {{ numberOfNights }} {{ numberOfNights == 1 ? "Night" : "Nights" }}
        </p>
        <p>{{ formatScore(hotel.totalScore) }}</p>
        <p>{{ hotel.totalReviews }} reviews</p>
      </div>
    </div>
  </div>
  <div v-else class="hotel-card loading e-center">
    <Loader></Loader>
  </div>
</template>

<script>
import Loader from "~/components/Loader";
import { mapState } from "vuex";
import { wiggle } from '~/mixins/wiggle'

export default {
  mixins: [wiggle],
  components: {
    Loader
  },
  watch: {
    numberOfNights: {
      immediate: true,
      handler(newValue) {
        if (newValue && newValue.length) {
            this.wiggle();
        }
      }
    }
  },
  methods: {
    goToDetails(hotel) {
      this.$store.commit("hotel/changePage", 1);
      this.$store.commit("hotel/updateId", hotel.id);
    },
    formatScore(score) {
      if (score >= 9) return `${score} Excellent`;
      else if (score >= 8) return `${score} Very Good`;
      else if (score >= 5) return `${score} Good`;
      else if (score >= 0) return `${score} ----`;
    }
  },
  props: {
    numberOfNights: {
      type: String,
      default: "1"
    },
    hotel: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
