<template>
  <div class="pagination">
    <p class="name mb-0 mr-5">Total Pages: <span>{{pages}}</span></p>
    <div
      v-if="pageNumber != 1"
      @click="previousHandler"
      class="arrow left"
    ></div>
    <div class="page">
      {{ pageNumber }}
    </div>
    <div
      @click="nextHandler"
      v-if="pages > pageNumber"
      class="arrow right"
    ></div>
  </div>
</template>

<script>
export default {
  methods: {
    previousHandler() {
      if (this.pageNumber >= 1) this.$store.commit('hotel/changePage', this.pageNumber - 1);
            this.changePageContent()
    },
    nextHandler() {
      if (this.pageNumber < this.pages) this.$store.commit('hotel/changePage', this.pageNumber + 1);;
            this.changePageContent()
    },
    changePageContent(){
       if(this.pageNumber == 1) 
       this.$store.commit('hotel/updateRange', {from: 0, to:  3}) 
       else
       this.$store.commit('hotel/updateRange', {from: (this.pageNumber -1 ) * 3, to:  this.pageNumber * 3})
    }
  },
  props: {
    pages: {
      type: Number,
      default: 1
    }
  },
  watch: {
    pages: {
      immediate: false,
      handler(newValue) {
          this.changePageContent()
      }
    }
  },
  computed: {
    pageNumber: {
      get(){
        return this.$store.state.hotel.pageNumber;
      }
    },
  }
};
</script>
