:root{
    --brand: rgb(61, 165, 175);
    --bg: rgb(246, 242, 242);
    --text: rgb(0, 0, 0, .8);
    --size: 14px;
    --shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}


span{
    color: black;
    font-size: var(--size);
    font-weight: bold;
}

p{
    color: var(--text);
}

body{
    background-color: var(--bg);
    scroll-behavior: smooth;
}

.e-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(243, 242, 242);
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
}

.hotel-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 45px;
    margin-bottom: 30px;
}

.hotel-card,
.details{
  padding: 1em;
}

.hotel-card{
    height: 180px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--bg);
}

.hotel-data{
  display: flex;
  position: relative;
}

.card-photo{
    height: 100px;
    width: 100px;
    transition:  ease-in-out 350ms;
    position: relative;
} 

.card-photo img{
    height: 100%;
    width: 100%;
    transition: ease-in-out 500ms;
    transition-delay: 100ms;
} 

.card-photo img:hover{
  transform: scale(1.15);
} 

.for{
  display: flex;
  align-items: center;
}

select {
  display: block;
  font-size: var(--size);
  font-weight: 700;
  padding: .1em .6em;
  width: 50px;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select:focus {
  box-shadow: var(--shadow);
  outline: none;
}

.for *{
  margin-right: 10px;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 1em;
    z-index: 1;
    max-width: (100% -110px);
}
.data p {
    margin-bottom: 0;
    font-size: var(--size) !important;
}


.title{
  font-size: 1.5rem !important;
}

.name{
    font-size: 1rem;
    color: var(--brand);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;;
    width: fit-content;   
    display: block;
    text-align: left;
    position: relative;
    z-index: 1;
    cursor: pointer;
}


.name:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--brand);
    z-index: -1;
    transform: scaleX(0);  
    transform-origin: right;
    transition: transform 250ms ease-in;  
}


.name:hover:after{
    transform: scaleX(1);   
    transform-origin: left; 
}

.hotel-card.loading{
    background-color: var(--brand);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}

.details{
    height: auto;
    width: 100%;
    font-size: var(--size);
    box-shadow: var(--shadow);
    background-color: var(--bg);

}   

   .animate,
   .hotel-card-container{
      animation: 1s appear;
    }

    @keyframes appear {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .wiggle{
    will-change: transform;
    animation-name: wiggle;
    animation-duration: 100ms;
    animation-iteration-count: 2;
  }

  @keyframes wiggle {
    0% {
      transform: rotateZ(1deg);
    }
    100% {
      transform: rotateZ(-1deg)
    }
  }


  .gallery{
    margin: auto;
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .main-picture{
    width: 100%;
    height: 250px;
    box-shadow: var(--shadow);;
 }


.scale{
  /* transform: scale(.8); */
}


 div.scroll{
    margin-top: 15px;
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 5px;
 }

 .tiny{ 
   width: calc(25% - 8px);
   min-width: calc(25% -10px);
   height: 70px;
   margin-right: 10px;
   opacity: .7;
 }


 .tiny-selected{
    opacity: 1 !important;
    border: 2px solid var(--brand);
 }

 ::-webkit-scrollbar {
    height: 18px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(122, 92, 92, 0.5); 
}

.comments{
  width: 75%;
  margin: auto;
  margin-top: 30px;
}

.wrapper{
  box-shadow: var(--shadow);
}

.comment.row{
  margin: 1em 0;
  padding: 1em 0;
  min-height: 40px !important;
}

.comment.row:nth-child(even) {
  background-color: lightgray;
}

.col-1{
  border: 2px solid var(--brand);
  display: block;
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin-left: 1em;
}

.col-1:hover{
  background-color: var(--brand);
  color: var(--bg);
}
  
.col-11{
  font-size: var(--size);
  color: var(--text);
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 1.5rem;
}

.pagination{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 10px ;
}

.arrow{
  border-top: 3px solid var(--brand);
  border-left: 3px solid var(--brand);
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.review{
  display: flex;
  align-items: center;
  height: 60px;
}

.review .name{
  margin-right: 20px;
  margin-bottom: 0 !important;
}

.arrow.up{
  transform: rotate(45deg);
}

.down{
  transform: rotate(-135deg);
}

.arrow.left{
  transform: rotate(-45deg);
  margin-right: 10px;
}

.arrow.right{
  transform: rotate(135deg);
}

.page{
  height: 30px;
  width: 30px;
  box-shadow: var(--shadow);
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}


@media (max-width: 1100px) {
  .hotel-card-container{
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .data p{
    font-size: 1.2rem !important;
  }
  .hotel-card{
    height: 230px;
  }

  .card-photo{
    height: 150px;
    width: 150px;
  }

  .main-picture{
    height: 350px;
  }
  .tiny{
    height: 90px;
  }

  .hotel-data{
    justify-content: space-between;
  }

  .comments,
  .gallery{
    width: 75%;
  }
}

@media (max-width: 768px) {
  .comments,
  .gallery{
    width: 100%;
  }
}

    
@media (max-width: 660px) {
  .main-picture{
    height: 250px;
  }
  .tiny{
    height: 70px;
  }
}

      