<template>
  <div class="container">
    <div v-if="hotels && hotels.length" class="hotel-card-container">
         <div :key="hotel.id" v-for="hotel in hotels">
            <HotelCard :numberOfNights="numberOfNights" :hotel="hotel" ></HotelCard>
        </div>         
    </div>
     <div v-else class="hotel-card-container">
         <div :key="index" v-for="(item, index) in [1,2,3]">
            <HotelCard ></HotelCard>
        </div>         
    </div>
    <HotelDetails></HotelDetails>
  </div>
</template>

<script>

import HotelCard from "~/components/HotelCard.vue";
import HotelDetails from "~/components/HotelDetails.vue";
import {http} from '~/mixins/http';
import { mapState } from 'vuex'

export default {
  mixins: [http],
  computed:{
    ...mapState({
          hotels: state => state.hotel.hotels,
          numberOfNights: state => state.hotel.numberOfNights
    })
  },
  created(){
    this.fetch()
  },
  components: {
    HotelCard,
    HotelDetails
  },
  methods: {
    async fetch (){
      try{
        const res = await this.services().hotels.getAll();
        if(res.data){
            this.$store.commit('hotel/setHotels', res.data)
        }
      }catch(error){

      }
    }
  }
};
</script>
